{
    "boot-source": {
      "kernel_image_path": "{{.KernelImagePath}}",
      "boot_args": "panic=-1 console=ttyS0",
      "initrd_path": "{{.InitRdPath}}"
    },
    "drives": [],
    "machine-config": {
      "vcpu_count": 1,
      "mem_size_mib": 256,
      "smt": false,
      "track_dirty_pages": false
    },
    "balloon": null,
    "network-interfaces": [
      
    ],
    "vsock": null,
    "logger": null,
    "metrics": null,
    "mmds-config": null,
    "tpm": {
      "socket": "{{.TpmSocket}}"
    }
  }